@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	font-family: 'Rammetto One';
	color:#fafafa;
	letter-spacing: 4px;
	background-color: rgb(247, 197, 105);
}

.score {
	height: 20vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

h2 {
	font-size: 1em;
}

h3 {
	font-size: 2em;
	text-align: center;
	color: rgba(67, 65, 68, 0.932);
	margin-bottom: 1rem;
}

.score p {
	text-align: center;
	padding: 10px;
	font-size: 25px;
}

.board {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: opacity 0.5s ease 0.5s;
}

.board button {
	width: 100px;
	height: 100px;
	font-size: 20px;
	border-style: solid;
	border-width: 4px;
	border-color: orangered;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background-color: #fafafa;
}

.board button:hover {
	background-color: orangered;
	border-color: orangered;
}

.board button:focus {
	outline: 0;
}

.board button img {
	height: 50px;
}

.hands img {
	width: 250px;
}

.hands,
.options {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.playing .hands img {
	animation: shake 2s ease;
}

@media only screen and (max-width: 768px) {
	.hands img {
		width: 150px;
	}

	.score h2 {
		font-size: 18px;
	}

	h3 {
		font-size: 28px;
	}

	.board button {
		width: 80px;
		height: 80px;
	}

	.board button img {
		height: 40px;
	}
}

@keyframes shake {
	0% {
		transform: translateY(0px);
	}
	15% {
		transform: translateY(-25px);
	}
	25% {
		transform: translateY(0px);
	}
	35% {
		transform: translateY(-25px);
	}
	50% {
		transform: translateY(0px);
	}
	65% {
		transform: translateY(-25px);
	}
	75% {
		transform: translateY(0px);
	}
	85% {
		transform: translateY(-25px);
	}
	100% {
		transform: translateY(0px);
	}
}
